#reloj {
  margin: 0;
  height: 500px;
  width: 80%;
  padding: 0px 30px 0px 15px;
  font-family: Arial, sans-serif;
  font-size: 48px;
  color: #f0dada;
  text-align: start;
  background-color: rgb(114, 10, 10);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
}

